*.bam
*.sam
*.bam
*.bai
*.fa
*.fai
*.fq
*.fasta
*.fastq
*.gz
*.fastq
*.gtf
*.gff
*.gff3
*.mmi
*.snakemake
*.log
*.tab
*.bed
*.tmp
*.zip
*.amb
*.ann
*.bwt
*.pac
*.sa
*.csv
*.e[0-9][0-9][0-9][0-9]*
*.o[0-9][0-9][0-9][0-9]*
[0-9][0-9]-*/
sgRNAtor/*.sublime-project
sgRNAtor/sgRNAtor
sgRNAtor/build
Elm/LeTRS_Analysis/env
Elm/LeTRS_Output
