*.bam
*.sam
*.bam
*.bai
*.fa
*.fai
*.fq
*.fasta
*.fastq
*.gz
*.fastq
*.gtf
*.gff
*.gff3
*.mmi
*.snakemake
*.log
*.tab
*.bed
*.tmp
*.zip
*.amb
*.ann
*.bwt
*.pac
*.sa
*.e[0-9][0-9][0-9][0-9]*
*.o[0-9][0-9][0-9][0-9]*
[0-9][0-9]-*/
*/*.sublime-project
sgRNAtor/build/
sgRNAtor/sgRNAQuant/__pycache__/
sgRNAtor/build/
sgRNAtor/sgRNAtor.egg-info/
